# ROS2 colcon build directories
build/
install/
log/
.colcon/

# ROS2 overlay workspaces
overlay_ws/

# Ignore package lock files (if using npm or yarn for any reason)
package-lock.json
yarn.lock

# Compiled object files and libraries
*.o
*.so
*.a
*.dll
*.dylib

# Executable files
*.exe
*.out

# CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Python cache (if your project includes Python scripts)
__pycache__/
*.py[cod]

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*~


# Logs and temporary files
*.log
*.tmp
*.temp

# Conan build files
conanbuildinfo.txt
conanbuildinfo.cmake
conaninfo.txt
graph_info.json

# Ninja build files
.ninja_log
.ninja_deps

# Coverage and testing reports
coverage/
lcov.info